export VAULT_ADDR="https://127.0.0.1"
export VAULT_CAPATH="$(readlink -f ./vault-tls/output/ca.crt)"
export VAULT_TOKEN="$(cat .vault_token)"
export MINIKUBE_PROFILE="vault-playground"
export TF_CLI_ARGS_test="-compact-warnings"
