apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: ${name}
  namespace: ${namespace}
spec:
  provider:
    vault:
      server: ${vault}
      caBundle: ${ca}
      auth:
        kubernetes:
          mountPath: ${vault_auth_mount}
          role: ${vault_auth_role}
          serviceAccountRef:
            name: ${sa_name}
          secretRef:
            name: ${sa_secret_name}
            key: token
  retrySettings:
    maxRetries: 5
    retryInterval: 10s
