apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: ${name}
  namespace: ${namespace}
spec:
  secretStoreRef:
    name: ${secret_store_name}
    kind: SecretStore
  refreshInterval: "1h"
  target:
    name: ${secret_name}

  data:
%{ for secret in secrets ~}
    - secretKey: ${secret.name}
      remoteRef:
        key: ${secret.path}
        property: ${secret.name}
%{ endfor }
