apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: ${name}
  namespace: ${namespace}
spec:
  type: kv-v2
  mount: ${mount_path}
  path: ${secret_path}
  destination:
    name: ${secret_name}
    create: true
  refreshAfter: 30s
  vaultAuthRef: ${vault_auth}
