global
   log stdout format raw local0 info

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend vault
      mode tcp
      log global
      timeout client 30000
      bind *:80
      bind *:443
      description Vault over https
      default_backend vault_https
      option tcplog

backend vault_https
     mode tcp
     timeout check 5000
     timeout server 30000
     timeout connect 5000
     option httpchk GET /v1/sys/health
     http-check expect status 200
     %{ for name, cfg in vaults ~}
server ${name} ${name}:8200 check check-ssl verify none
     %{ endfor }
